// Bourbon settings
$border-box-sizing: false;

// colors
$transparent: transparent;

$white: #fff;
$black: #4d4d4d;

$grey-dark: #6e6e6e;
$grey-dark-medium: #777;
$grey: #bfbfbf;
$grey-medium: #d9d9d9;
$grey-light-medium: #e6e6e6;
$grey-light: #f6f6f6;

$red: #af5b5e;
$red-light: #cc9a9a;
