<section class="main">
    {{include this path="todos" resourceType="demo/components/modules/todolist"}}
    {{include this path="todofooter" resourceType="demo/components/modules/todofooter"}}
</section>
