<!doctype html>
<html lang="en">

{{include this template="head"}}

<body>

    <section class="todoapp">
        {{include this path="header" resourceType="demo/components/modules/header"}}
        {{include this template="main"}}
    </section>

    {{include this path="footer" resourceType="demo/components/modules/footer"}}

</body>
</html>
