<div class="todo todo--view{{#if completed}} todo--completed{{/if}}">
    <input class="todo__toggle" type="checkbox"{{#if completed}} checked{{/if}}>
    <label>{{name}}</label>
    <a class="todo__edit" href="{{path}}">+</a>
</div>

